

body {
	font-family: 'Montserrat', sans-serif;
}

.row
{
	max-width: 1140px;
	margin: 0 auto;
}

.logo img {
	margin-top: 10px;
    margin-left: 5px;
	width: 70px;
	height: 80%;
}


body {
    background:url('sea_water.gif') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*  ------Menubar Style --------*/
 


/* --------END---------*/


.main_nav ul li a:hover
{
	background-color: none;
	padding: 8px 8px;
	display: block;
	position: relative;
}

.main_nav
{
	list-style: none;
	float: right;
	margin-top: 0px;
	
}



.main_nav li
{
	display: inline-block;
	
	margin-left: 40px;
	margin-top: 237px;
	right: 105px;
	position: relative;
	
}



.main_nav li a
{
	color: white;
	text-decoration: none;
	font-size: 90%;
	font-weight: bold;
	

}

.main_nav li a:hover
{
	color: white;
	border-bottom: 3px solid #C70039;
	transition: all 0.2s ease-in;
	padding: 10px 0;

}

.navbar{
width: 1010px;
height: 100px;
background-color: #4C5A65;
opacity: .6;
color: white;
position: relative;
top: 245px;
left: 150px;
border-radius: 8px;
}


/*---------------------Footer-----------------*/

.main-footer {
	width: 100%;
	margin-top: 330px;
    
    opacity: ;
    padding: 40px 0px;
}

.main-footer nav ul li{

	/* background-color: #EAE1E1; */
	
	display: inline-block;
	margin-left: 140px;
	
	list-style: none;
}
.main-footer nav ul li a {
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	list-style: none;

}

.main-footer p{
     margin-top: 20px;
     color: #ffffff;
     font-family: Lato;
     
}

select {
	border:1px solid #777;
}

.main-footer nav{
	float: left;
}


